@red: #ea2b1f;
@red-muted: mix(@red, white, 55%);
@blue: #247ba0;
@blue-muted: mix(@blue, white, 75%);;
@green: #53dd6c;
@green-muted: mix(@green, white, 75%);;
@purple: #69255c;
@purple-muted: mix(@purple, white, 75%);;
@cyan: #62bec1;
@cyan-muted: mix(@cyan, white, 75%);;

body {
  font-family: Lato, Tahoma, sans-serif;
  font-size: 1.75em;
  font-weight: 700;
  color: white;

  &.scheme-1 {
    background: @purple;
  }

  &.scheme-2 {
    background: @cyan;
  }

  &.scheme-3 {
    background: @blue;
  }

  &.scheme-4 {
    background: white;
  }

  &.scheme-5 {
    background: @red;
  }

}

#quiz {

  width: 100%;
  max-width: 20em;
  margin: 0 auto;
  padding: 2em 0;
  box-sizing: border-box;

  button {
    font-size: .75em;
    font-weight: 700;
    letter-spacing: .08em;
    width: 8em;
    height: 2.75em;
    border-radius: .3em;
    display: block;
    margin: 0 auto;
    color: inherit;
    border: none;
    box-shadow: 0 .1em .25em rgba(0,0,0,.3);
    transition: background .2s linear;
    cursor: pointer;

    &:hover {
      .scheme-1 & {
        background: @green-muted !important;
      }
      .scheme-2 & {
        background: @blue-muted !important;
      }
      .scheme-3 & {
        background: @cyan-muted !important;
      }
      .scheme-4 & {
        background: @green-muted !important;
      }
      .scheme-5 & {
        background: @red-muted !important;
      }
    }

    &::before {
      visibility: hidden;
    }

    &.continue {
      font-size: 0;

      &::before {
        visibility: visible;
      }
    }

    .scheme-1 & {
      background: @green;
    }
    .scheme-2 & {
      background: @blue;
    }
    .scheme-3 & {
      background: white;
      color: @blue;
    }
    .scheme-4 & {
      background: @green;
    }
    .scheme-5 & {
      background: white;
      color: @red;
    }
  }

  .scheme-4 & {
    color: black;
  }
}

.question {
  padding-left: 5.5em;
  position: relative;
  font-weight: 100;

  &::before {
    content: 'Q';
    font-size: 6em;
    font-weight: 700;
    line-height: .6em;
    width: .8em;
    position: absolute;
    top: 100%;
    margin-top: -.86em;
    padding: .04em 0 0;
    left: 0;
    float: left;
    height: .8em;

    .scheme-1 & {
      color: @green;
    }
    .scheme-2 & {
      color: @blue;
    }
    .scheme-3 & {
      color: @blue;
      background: white;
    }
    .scheme-4 & {
      color: @green;
    }
    .scheme-5 & {
      color: white;
    }
  }
}

.choices {
  
  border: none;
  clear: both;

  &::before {
    content: '';
    margin: 0 1em;
    display: block;
    border-bottom-style: solid;
    border-bottom-width: .08em;

    .scheme-1 & {
      border-color: @green;
    }

    .scheme-2 & {
      border-color: @blue;
    }

    .scheme-3 & {
      border-color: white;
    }

    .scheme-4 & {
      border-color: black;
    }

    .scheme-5 & {
      border-color: white;
    }
  }

  input {
    display: none;
  }

  ul {
    list-style: none;
  }
}

.choice {
  position: relative;
  transition: color .2s linear;

  &:hover {
    .scheme-1 & {
      color: @green-muted;
    }
    .scheme-2 & {
      color: @blue-muted;
    }
    .scheme-3 & {
      color: @cyan-muted;
    }
    .scheme-4 & {
      color: @green-muted;
    }
    .scheme-5 & {
      color: @red-muted;
    }
  }

  label {
    cursor: pointer;
  }

  .choice-text {
    margin-left: 3.25em;
    line-height: 1.5em
  }

  .answer {
    position: absolute;
    z-index: -1;

    .scheme-1 & {
      color: @purple;
    }
    .scheme-2 & {
      color: @blue;
    }
    .scheme-3 & {
      color: @blue;
    }
    .scheme-4 & {
      color: white;

      &.right {
        background: @green;
      }
      &.wrong {
        background: @red;
      }
    }
    .scheme-5 & {
      &.right {
        color: @green;
      }
      &.wrong {
        color: @red;
      }
    }
  }
}

.radio {
  position: absolute;
  top: .25em;
  left: .5em;

  input:checked ~ & {
    &.fa-check {
      display: inline-block;
    }
    &.fa-circle-o {
      display: none;
    }
  }

  input:not(:checked) ~ & {
    &.fa-check {
      display: none;
    }
    &.fa-circle-o {
      display: inline-block;
    }
  }
}

.explanation {
  position: absolute;
  width: 80%;
  top: 100%;
}
